input[type='text'] {
  float: left;
  margin-left:30px;
  text-align: left;
  margin-top:25px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e1e1e;
  border-style: solid;
  border-width: 2px;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    font-family: Arial;
    margin: 0;
    /* background-color: rgb(136, 215, 222); */
    background-image: url('hillUp6.jpg'); /*hills6.jpg*/
  /* background-color:rgb(136, 215, 222); */
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  }

  .topnav {
    overflow: hidden;
    background-color: #ffcc2b;
    box-shadow: 0 5px 10px -3px #6dacb3;
  }

  .topnav p {
    color: #f2f2f2;
    font-size: 20px;
    float: left;
    font-size: 20px;
    margin-left:20px; 
  }
  
  /* Style the topnav links */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }

  /* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

/* Header/Logo Title */
.header {
    padding: .5px;
    text-align: center;
    background: #cc6172;
    color: white;
    font-size: 30px;
    /* Makes spacesof the div */
    margin-top:20px; 
    margin-left:20px;
    margin-right:20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px -3px #4e7880;  /*#333*/
  }

  .rectanglewhite
{
  height: 80px;
  width: 1230px; /*1278px*/
  background-color: rgb(255, 255, 255);
  margin-left:65px;  /*35px*/
  /* margin-top: 30px; */
  border-style: solid;
  border-width: thin;
  border-color: rgba(218, 218, 218, 0.63);
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  border-radius: 8px;
  box-shadow: 0 5px 10px -3px #4e7880; /*#333*/
 
}


.rectanglewhite2
{
  height: 80px;
  width: 1230px;  /*1278px*/
  background-color: rgb(255, 255, 255);
  margin-left:65px; /*35px*/
  /* margin-top: 30px; */
  border-style: solid;
  border-width: thin;
  border-color: rgba(218, 218, 218, 0.63);
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  border-radius: 8px;
  box-shadow: 0 5px 10px -3px #4e7880;
}


  .rectanglegreen
{
  height: 50px;
  width: 600px;   /*width: 250px; */
  background-color: rgb(152, 191, 94);
   margin-left:65px;  /*35px*/
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 10px -3px #4e7880;
}

.para
{
    text-align: center;
    /* margin-top: 10px; */
    /* makes the movment of txt */
    padding: 15px;
    color: #f2f2f2;
    font-size: 25px;
    /* margin-left: 40px; */
}



.stringButton
{
    /* color: #1e1e1e;  
    text-align: center;  was supposed to be left
    float: left;       
    margin-top:25px;
    margin-left:25px; */

    /* background-color: #cc6172; */
  border: none;
  color: rgb(43, 43, 43);
  /* padding: 15px 32px; */
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top:23px;
  margin-left:25px;
}

.stringButton1
{
    /* color: #1e1e1e;  
    text-align: center;  was supposed to be left
    float: left;       
    margin-top:25px;
    margin-left:25px; */

    background-color: #cc6172;
  border: none;
  color: white;
  /* padding: 15px 32px; */
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top:23px;
  margin-left:25px;
  border-radius: 8px;
}


/* this is the column */
.stringBlackWSpace00
{
    color: #000000;  
   
    /* float: right; */
    margin-top:25px;
    margin-right:25px;  /*25px*/
    /* margin-left:15px; */
}

/* this is the row */
.stringBlackWSpace000
{
    color: #000000;  
    float: right;
    margin-top:25px;
    margin-right:60px;
    
}

/* WORK ON THIS NOW */
.cutsomGridString
{
    float: left;
    margin-left:25px;
    text-align: left;
    margin-top:25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9d9d9e;
}

.rowStuff
{
  float: left;
    margin-left:25px;
    text-align: left;
    margin-top:28px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;
 
}

.rowStuffTxtBox
{
  float: left;
    margin-left:15px;
    text-align: left;
    margin-top:25px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;

    border-style: solid;
    border-width: 2px;
 
}

.columnStuff
{
  float: left;
    margin-left:25px;
    text-align: left;
    margin-top:28px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;
}

.columnStuffTxtBox
{
  float: left;
    margin-left:15px;
    text-align: left;
    margin-top:25px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;

    border-style: solid;
    border-width: 2px;
 
}

.NoTxtBox
{
  float: left;
    margin-left:30px;
    text-align: left;
    margin-top:25px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;

    border-style: solid;
    border-width: 2px;
    /* border-width: thin; */
   /* border-color: rgba(179, 84, 99, 0.63); */
}

.questionString
{
  float: left;
  margin-left:15px;
  text-align: left;
  margin-top:28px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e1e1e;
}

.submitButton
{
  float: left;
  margin-left:400px;
  text-align: left;
  margin-top:15px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e1e1e; 

  background-color: #4caf4f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 8px;
  
}

.submitButton:hover {
  background-color: #419644;
  /* color: black; */
  box-shadow: 0 5px 10px -3px #4e7880;
  padding: 16px 33px;
  
}

.previewButton
{
  float: left;
  margin-left:40px;
  text-align: left;
  margin-top:15px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e1e1e; 

  background-color: #cc6173;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}

.previewButton:hover {
  background-color: #a84e5d;
  /* color: black; */
  box-shadow: 0 5px 10px -3px #4e7880;
  padding: 16px 33px;
  
}

.finishButton
{
  float: left;
  margin-left:40px;
  text-align: left;
  margin-top:15px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e1e1e; 

  background-color: #ffce2b;
  border: none;
  color: white;
  /* top and right padding */
  padding: 15px 38px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}

.finishButton:hover {
  background-color: #d4ab22;
  /* color: black; */
  box-shadow: 0 5px 10px -3px #4e7880;
  padding: 15px 39px;
  
}

.visible{
  display: none; 
}

.preview-image{
  margin-left:10px;
  padding-top: 5px;
  vertical-align:middle;
}


