html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--grid-cols: 1;
	--grid-rows: 1;
}

#quizContainer {
	overflow: hidden;
	width: 1200px;
	padding: 50px;
	left: 30px;
}


#container1 {
	display: grid;
	grid-gap: 1em;
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-template-columns: repeat(var(--grid-cols), 1fr);
	margin: auto;
	width: 80vh;
	height: auto;
	left: 90px;
	position: absolute;

}

#container2 {

	display: grid;
	grid-gap: 1em;
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-template-columns: repeat(var(--grid-cols), 1fr);
	margin: auto;
	width: 80vh;
	height: auto;
	left: -80vh;
	position: absolute;

}

img {
	width: 150px;
	height: 150px;
}

.grid-item {
	padding: 1em;
	border: 1px solid #ddd;
	text-align: center;
	cursor: pointer;

}

.grid-item:hover {
	border: solid orange;
}

#topbar {
	height: 100px;
	margin: auto;
	margin-top: 50px;
	color: black;
	font-size: 36px;
	font-family: Arial, Helvetica, sans-serif;
	width: 800px;
}

.spacer {
	width: 800px;
	padding: 10px;
	margin: auto;

}



@media screen and (max-width: 800px) {
	#topbar {
		margin-left: 1%;
		margin-right: 1%;
		width: 98%;
	}

	#navContent {
		margin: 1%;
		width: 98%;
	}

	#game1 {
		margin: 1%;
		width: 98%;
	}

	#game2 {
		margin: 1%;
		width: 98%;
	}
}

@media screen and (max-width: 400px) {
	.pix {
		margin: 1px;
		margin-top: 10px;
	}
}