
  .captcha {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
    padding: 3px;
    border-radius: 5px;
    text-decoration: line-through;
    color: #a0a0a0;
    background-color: #0c0c0c;
  }
  
  .restart a {
    text-decoration: none;
  }
  
  .errmsg {
    color: black;
    padding: 5px;
    transition: 0.5s ease;
  }
  
  input {
    width: 100%;
    margin-bottom: 3px;
  }