* {
	margin: 0px;
	padding: 0px;
	line-height: 1.3;
	box-sizing: border-box;
	font-size: 1.125rem;
	font-family: 'Poppins', sans-serif;
}

.rectangle{
    text-align:center;
    background-color:#e0426a;
    border-radius: 5px;
    width: 1000px;
    line-height:80px;
    color:white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    position:relative;
    font-size: 30px;
    font-weight: 100;

  }

.add-btn{
  text-align:center;
  background-color:#e0426a;
  border-radius: 5px;
  width: 1000px;
  line-height:80px;
  color:white;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 70px;
  font-weight: 100;
}
.add-btn:hover {
	background-color:#e60f44;;
}
.add-btn:hover input:after {
	background-color:#e60f44;
}

.box-form-body {
  float: left;
  text-align: left;
  position:relative;
  font-size: 25px;
  display: block;
  width: 75%;
}

.box-form-button {
  display: inline;
  width: 25%;
}

.box-row {
  width: 1000px;
  line-height:40px;
  vertical-align: auto;
  padding:10px;
  background-color: rgb(247, 231, 213);
  margin-left: auto;
  margin-right: auto;
}

.grid-btn{
  background-color: #1dab45;
	border: none;
	color:white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	align-items: center;
	cursor: pointer;
	font-size: 20px;
	border-radius: 5px;

}
.grid-btn:hover{
  background-color:#187933;
}

.grades-btn{
  background-color: #e6864e;
	border: none;
	color:white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	align-items: center;
	cursor: pointer;
	font-size: 20px;
	border-radius: 5px;
}
.grades-btn:hover{
  background-color:#e26822;
}

.bg-model{
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, .7);
  position: absolute;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  display:none;
}

.model-content{
  width : 500px;
  height:300px;
  background-color: white;
  border-radius:4px;
  text-align:center;
}

.popup-rectangle{
  text-align:center;
    background-color:#e0426a;
    border-radius: 4px;
    width: 500px;
    line-height:60px;
    color:white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
    position:relative;
    font-size: 30px;
    font-weight: 100;

}
.pill-btn-red {
	background-color: #e93942;
	border: none;
	color: #e9e9e9;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	align-items: center;
	cursor: pointer;
	font-size: 20px;
	border-radius: 32px;
}

.pill-btn-red:after {
	background-color:#e6111b;
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.pill-btn-red:hover {
	background-color:#e6111b;
}

.pill-btn-red:hover input:after {
	background-color:#e6111b;
}